.App {
  text-align: center;
}

.App-header {
  background: lightblue;
  color: #000000;
  min-height: 10vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.App-body {
  background-color: #a6bbd1; /* This might be overridden by the gradient if not needed */
  text-align: center;
  color: #000000;
  min-height: 90vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-image: repeating-linear-gradient(
    45deg, 
    rgba(69, 190, 247, 0.8), rgba(54, 142, 184, 0.8) 60px, 
    rgba(135, 162, 189, 0.8) 20px, rgba(135, 162, 189, 0.8) 200px
  );
}


.App-link {
  color: #61dafb;
}

body, html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.intro-container {
  margin-bottom: 2rem;
  border: 2px solid #000;
  padding: 1rem; 
  margin: 1rem auto; 
  max-width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1rem
}

.basicq-container {
  margin-bottom: 2rem;
  border: 2px solid #000;
  padding: 1rem; 
  margin: 1rem auto; 
  width: 60%; /* Ensures that the width is 60% of the parent container */
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1rem
}

.detailedq-container {
  margin-bottom: 2rem;
  border: 2px solid #000;
  padding: 1rem;
  margin: 1rem auto;
  width: 800px; /* Fixed width: adjust this value to your preferred width */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 1rem;
}
.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15);  /* Semi-transparent white */
  backdrop-filter: blur(5px);  /* Blur effect for the frosted glass */
  border-radius: 15px;  /* Optional: for rounded corners */
}

.quiz-header {
  margin-bottom: 0.5rem;
}

.quiz-header-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quizzes-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 70%;
}

.quiz-section {
  flex: 1;
  margin: 0 10px; /* 10px space between the two quiz section boxes */
  padding: 1rem;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-radius: 1rem
}

.central-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  background-color: #fff;
  color: #333;
  border-radius: 8px;
}

.central-container h1 {
  margin-bottom: 20px;
}

.button-container button {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ff2222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 600px;
}

.button-container button:hover, .button-container button:focus {
  background-color: #ff2222;
  color: #fff;
}

.header-button-container button:hover, .header-button-container button:focus {
  background-color: #ff2222;
  color: #fff;
}

footer {
  background-color: #2c3e50; /* Dark shade for footer */
  color: #ccc;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #444;
  margin-top: auto; /* Pushes footer to bottom if content is less */
}
