.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* The following was changed from default to make the site look modern -AX */
  background-color: #f2f2f2;
  color: #333;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  /* Have not played around with the default settings below -AX */
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header-header {
  background-color: #063970;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.central-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}

.central-container h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

footer {
  margin-top: 20px;
  font-size: 0.9em;
}
