/* module.css files ensure that component isolation and multiple styles are a possibility. */

.fancyButton,
.fancyButton *,
.fancyButton :after,
.fancyButton :before,
.fancyButton:after,
.fancyButton:before {
  border: 0 solid;
  box-sizing: border-box;
}

.fancyButton { /* Color and font gets overwritten by something outside of this file */
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  color: #f2f2f2; /* Change later */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.fancyButton:disabled {
  cursor: default;
}
.fancyButton:-moz-focusring {
  outline: auto;
}
.fancyButton svg {
  vertical-align: middle;
}
.fancyButton [hidden] {
  display: none;
}

.fancyButton {  /* Does this overwrite the above? 4/18 */
  --thickness: 0.3rem;
  --roundness: 0 rem; /*Change*/
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background: none;
  background: hsla(0, 0%, 100%, 0.2);
  border: none;
  border-radius: var(--roundness);
  color: #0c0d0e;
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', 'REM', "sans-serif";
  font-size: 1rem;
  padding: 0.8rem 3rem;
  position: relative;
}

.fancyButton:hover {
  background: hsla(0, 0%, 100%, 0.3);
  filter: brightness(1.2);
}
.fancyButton:active {
  --opacity: 0;
  background: hsla(0, 0%, 100%, 0.1);
}
.fancyButton svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow); 
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fancyButton rect {
    fill: none;
    stroke: #1174f6;
    stroke-width: var(--thickness);
    stroke-linejoin: round;
    stroke-dasharray: 185%;
    stroke-dashoffset: 80;
    animation: snake 2s linear infinite;
    animation-play-state: paused;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
  }
  
  .fancyButton:hover rect {
    animation-play-state: running;
    opacity: 1.0;
  }

  
  @keyframes snake {
    0% { stroke-dashoffset: 0; } /* Start at 0 offset */
    100% { stroke-dashoffset: 380%; } /* End at the same visual point as the start */
  }